.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: max-height 0.3s, top 0.3s ease-out, transform 0.3s ease-out;
  z-index: 900;
}

// .nav-container::after {
//   display: block;
//   position: absolute;
//   content: "";
//   bottom: -0.8rem;
//   left: 0;
//   right: 0;
//   height: 0.8rem;
//   background: linear-gradient(90deg, #212121 0, #404040);
// }
